@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Inter", sans-serif;
    
}





#new{
    animation-duration: 2s;
    animation-name: linear1;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    
}


@keyframes linear1 {
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}


